/*
!/.gitignore
!/nano/
!/neofetch/
!/alacritty/

!/zsh/
/zsh/*
!/zsh/oh-my-zsh/
/zsh/oh-my-zsh/*
!/zsh/oh-my-zsh/custom
!/zsh/oh-my-zsh/themes
/zsh/oh-my-zsh/themes/*
#!/zsh/oh-my-zsh/themes/agnoster.zsh-theme
/zsh/oh-my-zsh/custom/*
!/zsh/oh-my-zsh/custom/themes
/zsh/oh-my-zsh/custom/themes/example.zsh-theme
!/zsh/oh-my-zsh/custom/plugins
/zsh/oh-my-zsh/custom/plugins/example

/spicetify/*/
!/spicetify/
!/spicetify/Themes/

