/*
!/.gitignore
!/.gitmodules
!/sipctl/
!/nano/
!/neofetch/
!/alacritty/
!/htop/
!/zsh/
!/git/
/zsh/*/
!/zsh/oh-my-zsh/
/zsh/oh-my-zsh/*
!/zsh/oh-my-zsh/custom
!/zsh/oh-my-zsh/themes
/zsh/oh-my-zsh/themes/*
#!/zsh/oh-my-zsh/themes/agnoster.zsh-theme
/zsh/oh-my-zsh/custom/*
!/zsh/oh-my-zsh/custom/themes
/zsh/oh-my-zsh/custom/themes/example.zsh-theme
!/zsh/oh-my-zsh/custom/plugins/*
/zsh/oh-my-zsh/custom/plugins/example
!/zsh/oh-my-zsh/oh-my-zsh.sh

/spicetify/*/
!/spicetify/
!/spicetify/Themes/

